<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		
		<!-- TITLE -->
        <title>Andrew Brown - Computer Science</title>
		
		<!-- STYLESHEETS -->
       
        <!--    <link rel="stylesheet" href="assets/css/css3.css">      -->
        <link rel="stylesheet" href="/css/canvas.css">


    </head>
    <body>
        <div class = "content_wrapper">

            <!-- Top of screens -->
            <section class = "header">
                <canvas id="canvas_background"></canvas>

                <div class= "content-container">

                    <nav class="navbar">
                        <div class="container">
                            <a id = "home" href="#">Andrew Brown</a>

                            <ul class = navbar-right>
                                <li><a href="#">HOME</a></li>
                                <li><a href="#">ABOUT</a></li>
                                <li><a href="#">SKILL</a></li> 
                                <li><a href="#">PORTFOLIO</a></li> 
                                <li><a href="#">TEAM</a></li> 
                                <li><a href="#">BLOG</a></li> 
                                <li><a href="#">CONTACT</a></li> 
                            </ul>
                        </div>
                      </nav>


                    <div class="header__content text-center text_white">
                    
                        <span class="header_text">HELLO</span>

                        <h1 class="header_text">I'M ANDREW BROWN</h1>
                        <h1>Computer Science Student</h1>
                        <h2> 
                            <span class="header_text_subtitle" id = "magic_text"
                        
                            data-info = 'Hard Working.,Fast Learner.,Confident.,Motivated.,Dedicated., Creative!'
                            data-timer = "50">
                          
                            </span>

                        </h2>

                      </div>

              
            </div>
            
      


                    <div class = "social-media-content">
                        <ul>
                            <li>
                                <a href="#" class = "LinkedIn_icon social_icon"></a>
                                <a href="#" class = "github_icon"></a>
                                <a href="#" class = "fiverr_icon"></a>
                            </li>
                        </ul>
                    </div>          
                </div>
            </section>


            <!-- projects of screens -->
            <section class = "section_about">
                <div>
                    <h1> projects of screens</h1>
                </div> 
            </section>

        </div>
        

        <!-- SCRIPTS -->
        <script src="/js/Particles.js"></script>
        <script src="/js/js.js"></script>

        <script src ="/js/canvas.js"></script>
        <script src = "/js/magic_text.js"></script>

    </body>
</html>