@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.content__wrapper {
}

.header {
  position: relative;
}

/* .top_canvas h1 {
  font-size: 150px;
  line-height: 110px;
  color: brown;
  position: static;
} */

#canvas_background {
  border: 10px solid black;
  background: gray;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* position: relative; */
  position: absolute;
}

.content-container {
  padding-left: 4em;
  padding-right: 4em;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.header__content {
  padding-top: 30vh;
  padding-bottom: 30vh;
}

.text-center {
  text-align: center;
}

.text_white {
  color: white;
}

.header_text {
  font-size: 50px;
  color: white;
}

.header_text_subtitle {
  font-size: 20px;
  color: white;
}

h1 {
  margin: 0.67em 0;
}

/*navbar*/

.navbar {
  font-weight: 1000;
  color: white;
}

.navbar-right {
  float: right;
}

.navbar .container {
  padding-top: 2em;
  padding-bottom: 2em;
}

li {
  display: inline;
}

.navbar .navbar-right li {
  margin-left: 1em;
}

.navbar .container a {
  color: white;
  transition: all 0.5s ease 0s;
  text-decoration: none !important;
}

.navbar .container a:hover {
  color: #0088a9;
  opacity: 0.7;
}

/*social media*/

.social-media-content {
  position: absolute;
  bottom: 4em;
  right: 4em;
}

.social-media-content a {
  margin-left: 1em;
}

.social_icon {
  height: 4em;
  width: 4em;
}

.LinkedIn_icon::after {
  background-image: url("/img/social/iconfinder_11-linkedin_104493.png");
  background-size: 3em 3em;
  display: inline-block;
  width: 3em;
  height: 3em;
  content: "";
}

.github_icon::after {
  background-image: url("/img/social/iconfinder_github_317712.png");
  background-size: 3em 3em;
  display: inline-block;
  width: 3em;
  height: 3em;
  content: "";
}

.fiverr_icon::after {
  background-image: url("/img/social/iconfinder_fiverr_401430.png");
  background-size: 3em 3em;
  display: inline-block;
  width: 3em;
  height: 3em;
  content: "";
}

.LinkedIn_icon:hover {
  background-color: #0e76a8;
}

.github_icon:hover {
  background-color: #6e5494;
}

.fiverr_icon:hover {
  background-color: #00b22d;
}
